#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background: #0a0a0a;
}

.App {
  width: 100%;
  min-height: 100vh;
  color: #fff;
}

* {
  box-sizing: border-box;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}